body
{
    margin:0px;
    padding:0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    overflow: auto;
}

#background
{
    position:fixed;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow:hidden;
    z-index: -10;
}

#glassesimg
{
    width: 150vh;
    height: 100vh;
    position: absolute;
}

#headersection
{
    width: 100vw;
    height: 100px;
    background-color: white;
}

#header-left
{
    position:absolute;
    width: 50vw;
    line-height: 100px;
    padding-left: 100px;
}

#header-right
{
    position:absolute;
    width: 50vw;
    line-height: 100px;
    margin-left: 50vw;
    float:right;
}

#menu_a
{
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.headeritem
{
    font-size: 13px;
    color: darkgray;
    text-decoration: none;
    margin-left: 20px;
    font-weight:200;
    float: right;
    padding-right: 20px;
}

#services
{
    margin-right: 100px;
}

#signupsection
{
    height: 580px;
    width: 100vw;
    overflow: hidden !important;
    position:relative;
}

#signupbackground
{
    z-index: -1;
    position: absolute;
    width: 1000px;
    margin: auto;
}

#signupwindow
{
    background-color: #0f3d5c;
    height: 350px;
    width: 300px;
    margin-top: 105px; 
    margin-left: 50px;
    position: relative;
}

#su-text-1
{
    color: white;
    font-weight: 200;
    margin-left: 30px;
    position: absolute;
    margin-top: 30px;
    font-size: 14px;
}

#su-text-2
{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 50px;
}

#su-text-3
{
    position: absolute;
    color: #f9db37;
    margin-left: 30px;
    margin-top: 190px;
    font-size: 12px;
    font-style: italic;
    font-weight:400;
}

#signupinputfield
{
    border: none;
    margin-top: 220px;
    margin-left: 30px;
    width: 240px;
    height: 33px;
}

#signupbutton
{
    border: none;
    margin-left: 30px;
    margin-top: 17px;
    background-color: #f9db37;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 150px;
    height: 33px;
}

#featuresection
{
    height: 300px;
    background-color: white;
    margin-top: -17px !important;
}

#feature1
{
    margin-left: 8%;
    height: 300px;
    width: calc(76% / 3);
    position: absolute;
    text-align: justify;
    margin-top: 50px;
}

#feature2
{
    margin-left: calc(76% / 3 + 12%);
    height: 250px;
    width: calc(76% / 3);
    position: absolute;
    text-align: justify;
    margin-top: 50px;
}

#feature3
{
    margin-left: calc(76% * 2 / 3 + 16%);
    height: 250px;
    width: calc(76% / 3);
    position: absolute;
    text-align: justify;
    margin-top: 50px;
}

.featureheader
{
    font-weight: 400;
}

.featurebody
{
    font-size: 10px;
}

#reviewssection
{
    height: 300px;
    background-color: #f0f0f0;
    margin-top: -20px;
}

#quote
{
    position:absolute;
    margin-top: 120px;
    font-weight: 300;
    font-size: 20px;
    width: 100vw;
    text-align: center;
}

#quotesource
{
    position:absolute;
    font-size: 14px;
    width: 100vw;
    text-align: center;
    margin-top: 160px;
}

#pricessection
{
    margin-top: -16px;
    width: 100vw;
    height: 700px;
    background-color: rgba(240,240,240,0.8);
}

#pricesheader
{
    height: 150px;
}

#pricestitle
{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
}

#pricesbody
{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 80px;
    font-size: 15px;
    font-weight: 300;
}

#plan1
{
    margin-left: 8%;
    width: 24%;
    background-color: white;
    overflow:hidden;
    height: 450px;
    position: absolute;
}

#plan2
{
    margin-left: 38%;
    width: 24%;
    background-color: white;
    overflow:hidden;
    height: 450px;
    position: absolute;
}

#plan3
{
    margin-left: 68%;
    width: 24%;
    background-color: white;
    overflow:hidden;
    height: 450px;
    position: absolute;
}

.pricebackground
{
    position: absolute;
    height: 450px;
    opacity: 0.13;
}

.planheader
{
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    font-size: 18px;
}

.planfeatures
{
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.planprice
{
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    font-size: 20px;
}

.buynowbutton
{
    position: absolute;
    border: none;
    margin-left: calc(50% - 75px);
    margin-top: 330px;
    background-color: #0f3d5c;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 150px;
    height: 40px;
    z-index: 10000 !important;;
}

#demosection
{
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position:relative;
}

#demobackground
{
    height: 65.625vw;
    min-height: 500px;
    width: 100vw;
    position: absolute;
}

#democontent
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(15,61,92,0.75);
}

#demotitle
{
    margin-top: 180px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight:400;
    font-size: 30px;
}

#demodescription
{
    margin-top: -30px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: white;
}

#demobutton
{
    border: none;
    margin-left: calc(50% - 75px);
    margin-top: 17px;
    background-color: #f9db37;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 150px;
    height: 40px;
}

#footersection
{
    background-color: #1d2530;
    margin-top: -16px;
    height: 300px;
}

#footertitle
{
    color: white;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    text-align: center;
    position:absolute;
    margin-top: 100px;
}

#footeraddress
{
    color: white;
    width: 100%;
    text-align: center;
    position:absolute;
    margin-top: 130px;
    font-size: 14px;
}

#icondiv
{
    width: 469px;
    margin-left: calc(50% - 234.5px);
    position: absolute;
    margin-top: 180px;
}

.socialicons
{
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-right: 25px;
}










